<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="login-admin">

	<sql id="tbAdminMember"> 
		select
			mem_id as memId
			,mem_pwd as memPwd
			,mem_name as memName
			,mem_mobile as memMobile
			,mem_email as memEmail
			,reg_dm as regDm
			,reg_id as regId
			,upd_dm as updDm
			,upd_id as updId
		from tb_admin_member
	</sql>

	<select id="getMemberInfo" resultType="memberBean">
		<include refid="tbAdminMember"/>
		where mem_id = #{memId} and mem_pwd = #{memPwd}
	</select>

</mapper>
